html {
  scroll-behavior: smooth;
}

.fade-unfocused {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.fade-unfocused:hover {
  opacity: unset;
}

.fade-unfocused:focus-within {
  opacity: unset;
}

.hover-highlight {
  transition: opacity 0.2s ease;
}

.hover-highlight:hover {
  opacity: 0.8;
}
